<% topics.each do |topic| %>
	<li class="list-group-item">
	  	<%= link_to(topic.user, class: "l-t-avatar pull-left") do %>
	        <%= image_tag(topic.user.avatar_url(:small), class: "t-avatar") %>
	    <% end %>
		<div class="right-info">
			<div class="infos">
				  <%= link_to topic.title, topic %>
			      <% if topic.suggested? %>
				    <i class="fa fa-thumb-tack gray" title="置顶"></i>
			      <% end %>
			      <% if topic.excellent? %>
			      	<i class="fa fa-trophy gold" title="精华"></i>
			      <% end %>
				  <div class="r-count pull-right">
				       <span class="badge reply-count-badge"><%= topic.comments.size %></span>
				  </div>
			</div>
			<span class="last-reply">
				<% if topic.comments.size > 0 %>
				最后由 <%= link_to topic.comments.last.user.name, topic.comments.last.user %> 于 <%= time_ago_in_words(topic.comments.last.created_at) %> 前回复
				<% else %>
				暂无评论.
				<% end %>
			</span>
		</div>
	</li>
<% end %>