<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>
      <%= render 'layouts/header' %>
      <div class="container">
        <div class="row">
        <% flash.each do |key,value| %>
            <div class="alert alert-<%= key %> alert-dismissible fade in">
            	<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <%= value %>
            </div>
        <% end %>
      		<%= yield %>
        </div>
      </div>
</body>
</html>
